@using Data.Models
@model List<Musteriler>
@{
    ViewData["Title"] = "Musteri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Email</th>
        <th>Sil</th>
        <th>Guncelle</th>


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Ad</td>
            <td>@item.Soyad</td>
            <td>@item.Email</td>
            <td>Sil</td>
            <td>Güncelle</td>
        </tr>
    }*@


@*</table>*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>

    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Email</th>
            <th>Güncelle</th>
            <th>Sil</th>


        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soyad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.ActionLink("Güncelle", "Guncelle", new { id = item.Id }, new { @class = "btn btn-success" })
                </td>

                <td>
                    @Html.ActionLink("Sil", "Sil", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
        @*@Html.ActionLink("Sil", "BolumSil", "Bolum", new { bolumId = item.Id }, new { @class = "btn btn-danger" })*@

    </table>
    <p>
        @*@Html.ActionLink("Müşteri Ekle", "Insert", new { @class = "btn btn-danger" })*@
        <a href="/Musteriler/MusteriEkle" class="btn btn-primary">Müşteri Ekle</a>
    </p>
</body>
</html>

