@model UrunGuncelleModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="Guncelle" method="post" class="w-75 mx-auto p-3">

    <input type="hidden" asp-for="@Model.Id" />
    <div class="form-group">
        <label>Ürünün Adı</label>
        <span asp-validation-for="@Model.Ad" class="text-danger"></span>
        <input asp-for="@Model.Ad" class="form-control" />
    </div>
    <div class="form-group">
        <label>Ürünün Markası</label>
        <span asp-validation-for="@Model.Marka" class="text-danger"></span>
        <input asp-for="@Model.Marka" class="form-control" />
    </div>
    <div class="form-group">
        <label>Ürünün Kategorisi</label>
        <span asp-validation-for="@Model.Kategori" class="text-danger"></span>
        <input asp-for="@Model.Kategori" class="form-control" />
    </div>
    <div class="form-group">
        <label>Ürünün Fiyatı</label>
        <span asp-validation-for="@Model.Fiyat" class="text-danger"></span>
        <input asp-for="@Model.Fiyat" class="form-control" />
    </div>
    <div class="form-group">
        <label>Ürünün Stok Sayısı</label>
        <span asp-validation-for="@Model.StokSayisi" class="text-danger"></span>
        <input asp-for="@Model.StokSayisi" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Güncelle</button>
        <a asp-action="Index" asp-controller="Urunler" class="btn btn-warning">Vazgeç</a>
    </div>

</form>
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
